#box
{
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}
#for
{
    width: 300px;
    height: 80px;
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    border-style: solid;
    border-width: 3px;
    
}
input
{
    margin-top: 10px;
}
label
{
    margin-top: 10px;
}
button
{
    margin-left: 10px;
}
#mess
{
    white-space:pre-wrap;
}

#err
{
    width: 300px;
    height: 30px;font-size: 10px; 
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 2px;
    border-color: greenyellow;
    background-color: greenyellow;
}